<main class="d-flex row m-0">
  <div class="col-11 item">
    <div style="justify-content: space-between; padding: 0px 40px 0px 40px;" class="row mb-3 mt-4">
      <div style="height: 250px; background-color: rgb(0, 0, 210); display: flex; flex-direction: column; justify-content: space-between;" class="col-2 center pt-5 pb-2">
        <h4>Admin module </h4>
        <div style="align-items: flex-end; justify-content: space-between; padding: 0px 25px 0px 25px;" class="col d-flex">
          <a routlink="">
            <i class="fa-solid fa-plus fa-2x"></i>
          </a>
          <i class="fa-solid fa-eye fa-2x"></i>
        </div>
      </div>
      <div style="height: 250px; background-color: rgb(160, 0, 0);display: flex; flex-direction: column; justify-content: space-between;" class="col-2 center pt-5 pb-2">
        <h4>Cashier module </h4>
        <div style="align-items: flex-end; justify-content: space-between; padding: 0px 25px 0px 25px;" class="col d-flex">
          <i class="fa-solid fa-plus fa-2x"></i>
          <i class="fa-solid fa-eye fa-2x"></i>
        </div>
      </div>
      <div style="height: 250px; background-color: rgb(224, 191, 0);display: flex; flex-direction: column; justify-content: space-between;" class="col-2 center pt-5 pb-2">
        <h4>Category module</h4>
        <div style="align-items: flex-end; justify-content: space-between; padding: 0px 25px 0px 25px;" class="col d-flex">
          <i class="fa-solid fa-plus fa-2x"></i>
          <i class="fa-solid fa-eye fa-2x"></i>
        </div>
      </div>
      <div style="height: 250px; background-color: rgb(192, 70, 0); display: flex; flex-direction: column; justify-content: space-between;" class="col-2 center pt-5 pb-2">
        <h4>Product module</h4>
        <div style="align-items: flex-end; justify-content: space-between; padding: 0px 25px 0px 25px;" class="col d-flex">
          <i class="fa-solid fa-plus fa-2x"></i>
          <i class="fa-solid fa-eye fa-2x"></i>
        </div>
      </div>
      <div style="height: 250px; background-color: black; display: flex; flex-direction: column; justify-content: space-between;" class="col-2 center pt-5 pb-2">
        <h4>Sales module</h4>
        <form style="align-items: flex-end;" action="" class="m-0">
          <input type="date"><br>
          <button style="border-radius: 5px; border: 0;" class="mt-2" type="submit">Validate</button>
        </form>
      </div>
    </div>
    <div style="justify-content: space-between; padding: 0px 40px 0px 40px;" class="row mb-3 mt-4">
      <div style="height: 250px; background-color: black;" class="col-2 center pt-5">
        <i class="fa-solid fa-download fa-3x mt-2"></i>
        <h4 class="mt-2">Download csv</h4>
      </div>
      <div style="height: 250px; background-color: black;" class="col-2 center pt-5">
        <i class="fa-solid fa-magnifying-glass fa-3x mt-2"></i>
        <h4 class="mt-2">Search</h4>
      </div>
      <div style="height: 250px; background-color: black;" class="col-2 center pt-5">
        <i class="fa-solid fa-sliders fa-3x mt-2"></i>
        <h4 class="mt-2">Rapport</h4>
      </div>
      <div style="height: 250px; background-color: rgb(29, 146, 0);display: flex; flex-direction: column; justify-content: space-between;" class="col-2 center pt-5 pb-2">
        <h4>Supplier module</h4>
        <div style="align-items: flex-end; justify-content: space-between; padding: 0px 25px 0px 25px;" class="col d-flex">
          <i class="fa-solid fa-plus fa-2x"></i>
          <i class="fa-solid fa-eye fa-2x"></i>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div style="height: 350px; margin-top: 200px;" class="col-1 p-0 d-flex">
    <div class="col-5"></div>
    <div style="background-color: black;" class="col-7 row m-0">
      <div style="height: 25%;" class="col-12 center p-0 pt-1   m-0">
        <div>
          <i class="fa-solid fa-house fa-2x"></i><br>
          <span class="">Home</span>
        </div>
      </div>
      <div style="height: 25%;" class="col-12 center p-0 pt-1   m-0">
        <div>
          <i class="fa-solid fa-user fa-2x"></i><br>
          <span class="">Profil</span>
        </div>
      </div>
      <div style="height: 25%;" class="col-12 center p-0 pt-1   m-0">
        <div>
          <i class="fa-solid fa-lock fa-2x"></i><br>
          <span class="">Password</span>
        </div>
      </div>
      <div style="height: 25%;" class="col-12 center p-0 pt-1   m-0">
        <div>
          <i class="fa-solid fa-gear fa-2x"></i><br>
          <span class="">Settings</span>
        </div>
      </div>
    </div>
  </div>
</main>
