@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d456c;
  // background-color: #f2f2f2;
  // background-color: #607d8b;
  // background-color: #34495e;
  // background-color: #556b2f;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-weight: normal;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card {
  display: flex;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #0d456c;
  // background-color: #f2f2f2;
  // background-color: #607d8b;
  // background-color: #34495e;
  // background-color: #556b2f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // height: 75vh;
  margin-top: 156px;
}

.card-body {
  padding: 30px;
  // text-align: center;
}

// .card::before,
// .card::after {
//   content: '';
//   position: absolute;
//   width: 30px;
//   height: 30px;
//   // background-color: #fff;
//   background-color: var(--shape-color, #fff);
//   border-radius: 50%;
//   transform: rotate(45deg);
//   animation: moveShape 4s infinite linear;
// }

// .card::before {
//   top: -15px;
//   left: 20%;
// }

// .card::after {
//   bottom: -15px;
//   right: 20%;
// }

// @keyframes moveShape {
//   0% {
//     transform: rotate(45deg) translateX(0) translateY(0);
//   }
//   50% {
//     transform: rotate(45deg) translateX(80px); /* Déplacement horizontal */
//   }
//   100% {
//     transform: rotate(45deg) translateX(0);
//   }
// }

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.btn-primary {
  background-color: wheat;
  color: #4e4848;
  border: none;
  padding: 10px 24px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  // border-radius: 4px;
  margin-top: 15px; 
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
  display: block;
  margin: auto;
}

.btn-primary:hover {
  background-color: #495056;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  border-color: #6C757D;
  color: #fff;
}

.valid-feedback,
.invalid-feedback {
  display: none;
  font-size: 14px;
}

.is-valid .valid-feedback,
.is-invalid .invalid-feedback {
  display: block;
}

label,
.text-center,
.user-login{
  color: wheat;
  text-align: center;
  size: 25px;
  margin-bottom: 15px;
}

.user-login:hover{
  // color: rgb(112, 107, 98);
  color: #ced3d6;
}

input, ::placeholder{
  color: #0d456c;
}

/* Cashier */

.decorative-dots::before,
.decorative-dots::after  {
  content: '...';
  color: #cdd6c1;
  // color: #e8e8e8;
  // color: #5e6266;
  font-size: 30px;
  // display: block;
  // text-align: center;
  line-height: 1;
    // margin-top: 2px;
}


// .decorative-dots::before,
// .decorative-dots::after {
//   color: #; /* Couleur grise */
// }

// .decorative-dots::before,
// .decorative-dots::after {
//   color: #e8e8e8; /* Gris clair */
// }