<!-- <p>login works!</p> -->

<!-- login.component.html -->
<body>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="#" class="needs-validation" novalidate>
              <h2 class="text-center decorative-dots">&nbsp;
                <a class="user-login" href="#"><u>Username</u>
                </a>, Welcome back&nbsp;
              </h2>

              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" id="email" class="form-control" placeholder="Enter email" required>
                <!-- <div class="valid-feedback">Valid email!</div> -->
                <div class="invalid-feedback">Please enter a valid email.</div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Enter password" required>
                <!-- <div class="valid-feedback">Valid password!</div> -->
                <div class="invalid-feedback">Please enter a valid password.</div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>    
</body>
