
<div class="cashier-dashboard">
  <div class="col-3 menu_gauche">
    <div class="column">
      <h3>Last receipt</h3>
      <div class="receipt">
        <small><b>Receipt number:</b></small><br>
        <div class="space_items">
          <small class="center"><b>Item:</b> </small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small>ufeioiyeoiuu</small><br>
          <small></small><br>
        </div><br>
        <small><b>Total:</b> </small><br>
        <div class="d-flex">
          <small><b class="received_label">amount Received:</b></small>
          <input type="text" class="received_input">
        </div>
        <small><b>change Amount:</b> </small>
        <button><i class="fas fa-print"></i> Print receipt</button>
      </div><br>
      <div class="quantity-selector">
        <div class="numpad">
          <button>7</button>
          <button>8</button>
          <button>9</button>
          <button>4</button>
          <button>5</button>
          <button>6</button>
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button></button>
          <button>0</button>
          <button></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 border add_items p-0">
    <div class="col-12 table-responsive p-0">
      <table style="border: 0px;" class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="col-5">Product name</th>
            <th class="col-1">Quantity</th>
            <th class="col-2">Unit price</th>
            <th class="col-1">weight</th>
            <th class="col-2">Total</th>
            <th class="col-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="justify-content: space-between;" class="d-flex p-1">
              <button type="button" class="mx-1"><i style="color: #e9af00;" class="fa-solid fa-eye"></i></button>
              <button type="button" class=""><i class="fa-solid fa-trash-can text-danger"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <div class="payment-options">
        <button>Cash payment</button>
        <button>credit card payment</button>
      </div>
    </div>
  </div>
</div>
